html, body{
    height: 100vh;
}

body {
    font-family: "Dancing Script", cursive;
    background-color: #f0f2f5; /* Light gray background for a soft look */
    color: #333; /* Dark gray text for readability */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(39, 129, 159)
}

img{animation: pulse 2s infinite;}

@keyframes pulse{
    0%{
        transform: scale(1.0)
    }
    50%{
    transform: scale(1.05)
    }
    100%{
        transform: scale(1)
    }
}