body{
    background-color: black;

}
span{
    position: absolute;
    background-color: antiquewhite;
    /* border-radius: 50%; */
    width: 100px;
    height: 100px;
    transform: matrix(2,2,2,2, 10,10);
}

html, body {margin: 0; height: 100%; overflow: hidden}