
#span{
    position: absolute;
    background-color: aqua;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    transform: matrix(20,0,0,20,0,0);
}

html, body {margin: 0px; padding: 0px; height: 100%; overflow: hidden}