span{
    position: fixed;
    width: 1px;
    height: 1px;
    transform: matrix(50,0,0,100,500,500);
    background-color: bisque;
}
img{
    position: absolute;
    transform: matrix(
        2.5,0,0,1.8,450,125
    );
}